# Unit # 1:

In [5]:
print("Hello World!")

Hello World!

# Unit # 2:

### Variable: it's a name that stores values

In [6]:
a = 44
name = 'Ali'
print(a,name)

44 Ali

### Arithmetic operators : mathematical calculation operatores are: +,-,*,/,//,**,%

In [7]:
a = 44
b = 2
print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a % b)
print(a // b)

46
42
88
22.0
0
22

### Assignment operators: assign or update value are:=, +=,-=,*=,/=

In [8]:
a = 10
a += 2
print(a)

a *= 2
print(a)

12
24

### Comperiaon operator: use to compare two values are ==, >, <,>=, <=,!=

In [9]:
a = 10
b = 5

print(a == b)
print(a > b)
print(a <= b)

False
True
False

### Boolean & Logical Operator: use with True and False values are : and , or, not

In [10]:
age = 20
marks = 80

print(age >= 18 and marks >= 50)  # True
print(age < 18 or marks >= 50)    # True
print(not(age >= 18))             # False

True
True
False

### Bitwise Operator:to work with binary number (0 or 1) are: &,`, ^, ~, <<, >>

In [11]:
a = 6
b = 5

print(a & b)
print(a | b)
print(a >> b)
print(a ^ b)
print(a << 1)

4
7
0
3
12

# Unit # 3:

### 1: round(number, digits) function

In [12]:
a = 3.141516

print(round(a,3))
print(round(5.6))

3.142
6

### 2: divmod(a, b) function --> Returns quotient and remainder at the same time.

In [13]:
result = divmod(10, 3)
print(result)

(3, 1)

### 3: isinstance(vlaues, datatype) Function --> Checks whether a value belongs to a specific data type.

In [14]:
x = 10
print(isinstance(x, int))
print(isinstance(x, float))

True
False

### 4: pow(base , exponent) Function

In [15]:
print(pow(2,3))
print(pow(4,2))

8
16

### 5: input() Function

In [ ]:
name = input("Enter your name:")
print("Hello", name)

### 6: int() Function

In [27]:
x = "10"
print(x)
y = int(x)
print(y + 5)

10
15

### 7: float() Function

In [28]:
x = "3.5"
y = float(x)
print(y + 1.5)   # 5.0

5.0

### 8: len() Function

In [1]:
name = "python"

print(len(name))

6

### 9: min() Function

In [2]:
numbers = [2,4,6,87,9,4,2]
print(min(numbers))

2

### 10: max() Function

In [31]:
numbers = [2,4,6,87,9,4,2]
print(max(numbers))

87

### 11: sorted() Function

In [32]:
numbers = [2,4,6,87,9,4,2]
print(sorted(numbers))

[2, 2, 4, 4, 6, 9, 87]

### 12: help() Function

In [33]:
help(len)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

# Unit # 4

### 01 if condition: when condition is true then its execute

In [3]:
age = 18

if age >= 18:
    print("You are eligible for vote.")

You are eligible for vote.

### 02 if-else condition:

In [4]:
age = 16

if age >= 18:
    print("You are eligible for vote")
else:
    print("You cannot eligible for vote.")

You cannot eligible for vote.

### 03 if-elif-else condition:

In [9]:
marks = 75

if marks >= 90:
    print("Your grade is A")
elif marks >= 70:
    print("Your grade is B")
elif marks >= 50:
    print("Your grade is C")
else:
    print("You are fail")

Your grade is B

### 4 Nested if statement: if statement inside of the if statement.

In [10]:
age = 18
citizen = True

if age >= 18:
    if citizen:
        print("You are eligible to vote")
    else:
        print("You must be citizen")
else:
    print("You are underage.")

You are eligible to vote

# Real-Life Example (ATM System)

In [16]:
pin = 1234
entered_pin = int(input("Enter pin :"))

if entered_pin == pin:
    amount = int(input("Enter your amount :"))
    if amount <= 5000:
        entered_pin = int(input("Enter pin :"))
        if entered_pin == pin:
            print("Please! collect your amount",amount)
        else:
            print("Invalid pin!")
    else:
        print("Enter amount below 5000.")
else:
    print("Invalid pin!")

Enter pin : 1234
Enter your amount : 4555
Enter pin : 1234

Please! collect your amount 4555

# Unit # 5

### 01 while loop:

In [21]:
i = 0
while i <= 5:
    print(i)
    i += 1

0
1
2
3
4
5

### 02 break statement

In [3]:
week_days = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]

i = 0
while i < len(week_days):
    if week_days[i] == "Friday":
        break
    print(week_days[i])
    i += 1

Sunday
Monday
Tuesday
Wednesday
Thursday

### 03 continue statement

In [3]:
for i in range(1, 6):
    if i == 3:
        continue
    print(i)

1
2
4
5

### 04 for loop

In [6]:
array = [1,2,3,3,4,5,6,7,7]
for i in array:
    print(i)
    if i == 3:
        break

1
2
3

### 05 range function: range(start, stop, step)

In [7]:
print(list(range(5)))
print(list(range(1,6)))
print(list(range(1,6,2)))

[0, 1, 2, 3, 4]
[1, 2, 3, 4, 5]
[1, 3, 5]

### 06 nested loop

In [8]:
for i in range(1,4):
    for j in range(1,4):
        print(i,j)

1 1
1 2
1 3
2 1
2 2
2 3
3 1
3 2
3 3

### 7. Pattern Printing Example (Nested Loop)

In [9]:
for i in range(1,4):
    for j in range(i):
        print("*", end=" ")
    print()

*
* *
* * *

### Real-Life Example: Table of a Number

In [10]:
num = int(input("Enter the number :"))

for i in range(1,11):
    print(num, "x", i , "=" , num * i)

Enter the number : 2

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

# Unit # 6

### 01 Function: A function is a block of code that performs a specific task and can be reused.

In [17]:
def age(a):
    print("My age is ", a)
age(23)

My age is  23

### 02 Doc String (Documentation String)
#### A docstring explains what a function does.

In [19]:
def add():
    """This function adds two numbers"""
    print(10 + 20)

print(add.__doc__)

This function adds two numbers

### 03 Function Input Arguments
#### Arguments allow passing data to a function.

In [20]:
def add(a, b):
    print(a + b)

add(5, 3)

8

### 04 Order of Input Arguments
#### Arguments are passed in the same order as parameters.

In [21]:
def show(a, b):
    print(a, b)

show(10, 20)   # Correct order
show(20, 10)   # Different output

10 20
20 10

### 05 Return Statement
#### Returns a value from a function.

In [22]:
def square(num):
    return num * num

result = square(4)
print(result)

16

### 06 Variable Number of Input Arguments
#### Sometimes we donâ€™t know how many arguments are needed.

### 07 *args in Function
#### Accepts multiple positional arguments.

In [23]:
def total(*args):
    sum = 0
    for i in args:
        sum += i
    return sum

print(total(10, 20))
print(total(1, 2, 3, 4, 5))

30
15

### 08 **kwargs in Function
#### Accepts multiple keyword arguments (key=value).

In [1]:
def student(**kwargs):
    for key, value in kwargs.items():
        print(key, ":", value)

student(name="Ali", age=20, course="Python")

name : Ali
age : 20
course : Python

### 09 *args and **kwargs Together

In [2]:
def display(*args, **kwargs):
    print("Args:", args)
    print("Kwargs:", kwargs)

display(1, 2, 3, name="Sara", city="Lahore")

Args: (1, 2, 3)
Kwargs: {'name': 'Sara', 'city': 'Lahore'}

### 10 Lambda Function
#### Purpose :A small anonymous function written in one line.

In [3]:
square = lambda x: x * x
print(square(5))

25

In [4]:
add = lambda a, b: a + b
print(add(3, 4))

7

# Unit # 7

## 1. Introduction to String
### sequence of characters.and written inside single (' ') or double (" ") quotes. immutable

In [1]:
print("Python")
print('python')

Python
python

## 2. Indexing & Slicing

In [17]:
string = "Python is a popular language in AI and ML."
# indexing(individual charactors) & sclicing(portion of string)
print(string[0])
print(string[2:12])
print(string[::-1]) # reverse the string

P
thon is a
.LM dna IA ni egaugnal ralupop a si nohtyP

## 3. Methods: strip, lower, upper

### strip(to remove spaces from beg & end), lower(convert into lower charactor) & upper(in upper charators)

In [18]:
str1 = "    python is a popular and widespread languagein these days.    "
print(str1.strip())

python is a popular and widespread languagein these days.

In [19]:
str1.lower()

'    python is a popular and widespread languagein these days.    '

In [20]:
str1.upper()

'    PYTHON IS A POPULAR AND WIDESPREAD LANGUAGEIN THESE DAYS.    '

## 4. Methods: replace, split, capitalize

In [24]:
string = "python is a popular language in AI and ML."
string.replace('popular','most important')

'python is a most important language in AI and ML.'

In [25]:
string.split()

['python', 'is', 'a', 'popular', 'language', 'in', 'AI', 'and', 'ML.']

In [26]:
string.capitalize()

'Python is a popular language in ai and ml.'

## 5. Methods: title, swapcase, find, index

In [27]:
string.title()

'Python Is A Popular Language In Ai And Ml.'

### swapcase: Changes uppercase to lowercase and vice versa.

In [28]:
str2 = "Python is Laguage."
str2.swapcase()

'pYTHON IS lAGUAGE.'

### find(): find position of sunstring.if not find then return -1.

In [32]:
str2.find("is")

7

### index:Same as find(), but gives error if not found.

## 6. Methods: isalnum, isalpha, isdigit

### isalnum(): Checks if string has only letters and numbers.

In [45]:
str3 = "abc123nadeem11aur11door11"
str3.isalnum()

True

### isalpha : Checks if string has only letters.

In [49]:
str4 = "mypython"
str4.isalpha()

True

### isdigit: Checks if string has only digits.

In [50]:
str5 = "12345677"
str5.isdigit()

True

## 7. Methods: isupper, islower, istitle, startswith, endswith
### isupper: Checks if all letters are uppercase.

In [58]:
string = "PYTHON IS LANGUAGE"
string.isupper()

True

### islower: checks if all lowercase.

In [59]:
str1 = "python is lower"
str1.islower()

True

In [60]:
str2 = "Python Is Language"
str2.istitle()

True

### startswith(): Checks beginning of string.

In [63]:
text = "Python programming 1"
print(text.startswith("Python"))

True

In [66]:
text = "1 is Python programming"
print(text.endswith("programming"))

True

## 8. Multiline String & Substring Checking

In [67]:
text = """Python is a powerful language.
It is easy to learn.
It is used for web, data science, and AI."""

In [68]:
print("powerful" in text)
print("Java" in text)

True
False

## 9. Converting String into Another Data Type

In [70]:
str_int = "1234"
print(int(str_int))

1234

In [71]:
str_float = "3.14"
float(str_float)

3.14

In [73]:
s = "a,b,c"
lst = s.split(",")
print(lst)

['a', 'b', 'c']

## 10. Loops in String

In [77]:
string = "python"

for i in string:
    print(i)

p
y
t
h
o
n

# Unit # 8

## 1. Introduction to List

### A list is a collection of multiple values stored in a single variable.
### Lists are written using square brackets [ ].
### Lists are ordered, changeable (mutable), and allow duplicate values.

## 2. Indexing on List

In [90]:
lst =[1, "pyhon", True, 3.14]
print(lst[0])
lst[3]

1

3.14

## 3. Slicing on List

In [91]:
lst[1:3]

['pyhon', True]

## 4. Methods: append(), extend(), insert()

### append(): Adds one element to the end of the list.

In [96]:
lst.append("java")
lst.append("list is topic")
print(lst)

[1, 'pyhon', 'javascript', True, 3.14, 'java', False, 1, 2, 3, 4, 'java', 'list is topic']

### extend(): Adds multiple elements (from another list) to the end.

In [93]:
lst.extend({1,2,3,4,False})
lst

[1, 'pyhon', True, 3.14, 'java', False, 1, 2, 3, 4]

### insert(): Adds an element at a specific index.

In [95]:
lst.insert(2,"javascript")
lst

[1, 'pyhon', 'javascript', True, 3.14, 'java', False, 1, 2, 3, 4]

## 5. Methods: remove(), pop(), clear()

In [99]:
lst = [2,4,6,True,False, 3.14]
lst.remove(4) # romove given values
lst

[2, 6, True, False, 3.14]

In [101]:
lst.pop() # delete last index
lst

[2, 6, True]

In [102]:
lst.clear()
lst

[]

## 6. Methods: count(), max(), min()

In [106]:
lst1 =[1,2,3,4,4,4,5,5,6,7,7,2,9,1]
lst1.count(4)

3

In [108]:
max(lst1)

9

In [109]:
min(lst1)

1

## 7. reverse(), index(), copy()

In [115]:
lst1 =[1,2,3,4,4,4,5,5,6,7,7,2,9]
lst1.reverse()
print(lst1)

[9, 2, 7, 7, 6, 5, 5, 4, 4, 4, 3, 2, 1]

In [116]:
lst1[3:8]

[7, 6, 5, 5, 4]

In [118]:
lst_copy = lst1.copy()
lst_copy

[9, 2, 7, 7, 6, 5, 5, 4, 4, 4, 3, 2, 1]

## 8. Using Loops in List

In [120]:
lst1 =[1,2,3,4,9]
for i in lst1:
    print(i)

1
2
3
4
9

## 9. Using Conditional Statements in List

In [121]:
lst = [1, 2, 3, 4, 5, 6]

for num in lst:
    if num % 2 == 0:
        print(num)

2
4
6

In [122]:
lst = [1, 2, 3, 4, 5, 6]
even_lst = [num for num in lst if num % 2 == 0]

print(even_lst)

[2, 4, 6]

# Unit # 9

## 1. Introduction to Tuple
### A tuple is a collection of multiple values stored together.
### Tuples are written using round brackets ().Tuples are ordered and immutable (cannot be changed).
### Tuples allow duplicate values.

## 2. Concatenation & Nesting

In [15]:
tup1 = (2,3,4,5)
tup2 = (4,5,6,7)
print(tup1 + tup2)
print([2])

(2, 3, 4, 5, 4, 5, 6, 7)
[2]

In [16]:
tup3 = (22,44,55,(3,4,56),2,3,4)
print(tup3)

(22, 44, 55, (3, 4, 56), 2, 3, 4)

## 3. Length, Count & Index Methods

In [17]:
len(tup3)

7

In [18]:
print(tup2.count(4))

1

In [19]:
print(tup3[3])

(3, 4, 56)

## 4. The tuple() Constructor

In [22]:
lst_tup = [1, 2, 3, 4, 5, 6, 7]
tup = tuple(lst_tup)
print(tup)

(1, 2, 3, 4, 5, 6, 7)

## 5. Duplicates in Tuples

In [23]:
dup_tup = (1,2,3,2,3)
print(dup_tup)

(1, 2, 3, 2, 3)

## 6. max(), min(), Unpacking of Tuples

In [28]:
print(max(lst_tup))
print(min(lst_tup))

7
1

In [29]:
t = (10, 20, 30)

a, b, c = t

print(a)
print(b)
print(c)

10
20
30

## 7. Conditional Statements in Tuple

In [30]:
t = (10, 20, 30)
if 20 in t:
    print("20 exist")
else:
    print("sorry")

20 exist

## 8. Loops in Tuple

In [33]:
tup = tuple(map(int, input("Enter values: ").split()))


for item in tup:
    if item == 2:
        print("Exist 2")
    else:
        print("no")

Enter values:  2 3 4 5 6

Exist 2
no
no
no
no

# Unit # 10

## 1. Introduction to Set
### A set is an unordered collection of unique elements.
### Sets are written using curly braces { }. Sets do not allow duplicate values.
### Sets are mutable, but elements must be immutable.

## 2. Methods: add(), update(), remove(), discard(), pop(), clear(), del, union()

In [31]:
set1 = {1,2,3,4,5,5,"apple", "banana", False}
set1

{1, 2, 3, 4, 5, False, 'apple', 'banana'}

In [32]:
# add()
set1.add("orange")
set1.add(10)
set1

{1, 10, 2, 3, 4, 5, False, 'apple', 'banana', 'orange'}

In [33]:
# update()
set1.update("")
set1.update([7,8,9])
set1

{1, 10, 2, 3, 4, 5, 7, 8, 9, False, 'apple', 'banana', 'orange'}

In [34]:
# remove()
set1.remove("apple")
set1.remove(10)
set1

{1, 2, 3, 4, 5, 7, 8, 9, False, 'banana', 'orange'}

In [35]:
# discard()
set1.discard(False)
set1

{1, 2, 3, 4, 5, 7, 8, 9, 'banana', 'orange'}

In [36]:
# pop()
set1.pop()
print("remove element",set1)

remove element {2, 3, 4, 5, 'banana', 7, 8, 9, 'orange'}

In [37]:
# clear()
set1.clear()
set1

set()

In [40]:
set2 = {1,2,3,4,5}
# del set2  #give error not defined

In [42]:
# union()

set3 = {6,7,8,9,10}
set4 = set3.union(set2)
set4

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [43]:
print(set2 | set3)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [44]:
print(set2.union(set3,set4))

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

## 3. Methods: intersection_update(), intersection(), difference_update(), difference()

In [53]:
set5 = {2,4,5,6,7,3}
set6 = {2,3,4,5,6,7,8}

set7 = set5.intersection(set6)
set7

{2, 3, 4, 5, 6, 7}

In [48]:
set8 = set6.difference(set5)
set8

{8}

In [56]:
set5 = {2,4,5,6,7,3}
set5.intersection_update({11,22,33})
set5

set()

In [58]:
set6.difference_update({11,22})
set6

{2, 3, 4, 5, 6, 7, 8}

## 4. Methods: symmetric_difference_update(), symmetric_difference()

In [61]:
# symmetric_difference_update()
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

set1.symmetric_difference_update(set2)
print(set1)

{1, 2, 5, 6}

In [62]:
# symmetric_difference()
a = {10, 20, 30}
b = {30, 40, 50}

c = a.symmetric_difference(b)
print("c:", c)
print("a:", a)
print("b:", b)

c: {40, 10, 50, 20}
a: {10, 20, 30}
b: {40, 50, 30}

## 5. Methods: isdisjoint(), issuperset(), issubset()

In [63]:
# isdisjoint()
set1 = {1, 2, 3}
set2 = {4, 5, 6}

print(set1.isdisjoint(set2))

True

In [64]:
# issuperset()
set1 = {1, 2, 3, 4, 5}
set2 = {2, 3}

print(set1.issuperset(set2))

True

In [65]:
# issubset()
set1 = {2, 3}
set2 = {1, 2, 3, 4}

print(set1.issubset(set2))

True

## 6. Methods: set(), max(), min(), copy(), loops in sets

In [67]:
# set()
s = set()
s

set()

In [70]:
# max()
set3 = {1,2,3,4,5,6,7,8,9,10}
print(max(set3))
print(min(set3))

10
1

In [71]:
# copy()
s1 = {1, 2, 3}
s2 = s1.copy()

print(s2)     # Output: {1, 2, 3}

s2.add(4)
print(s1)     # Output: {1, 2, 3} (original set unchanged)
print(s2)     # Output: {1, 2, 3, 4} (copied set modified)

{1, 2, 3}
{1, 2, 3}
{1, 2, 3, 4}

In [72]:
# loops
s = {10, 20, 30}

for x in s:
    print(x)

10
20
30

In [73]:
s = {1, 2, 3, 4}
total = 0

for x in s:
    total += x

print("Sum:", total)

Sum: 10

# Unit # 11

## 1. Introduction to Dictionary
### A dictionary stores data in keyâ€“value pairs.Written using curly braces { }.Keys must be unique and immutable.
### Values can be of any data type.Dictionaries are mutable and unordered (in concept).

## 2. Methods: len(), dict() Constructor, fromkeys(), setdefault()

In [2]:
# len()
dict1 = {"name":"kamran","Roll No":10203,"school":"punjab"}
print(dict1)
print(len(dict1))

{'name': 'kamran', 'Roll No': 10203, 'school': 'punjab'}
3

In [6]:
# dict()

s = dict()
print(s)

{}

In [8]:
# fromkeys()
lis = ["apple","banana","mango"]
d = dict.fromkeys(lis,1)
print(d)

{'apple': None, 'banana': None, 'mango': None}

In [10]:
# setdefault()
d = {"name": "Ali", "age": 20}

print(d.setdefault("age", 25))
print(d)

20
{'name': 'Ali', 'age': 20}

## 3. Methods: get(), keys(), values(), items(), update()

In [14]:
# get()
dict2 = {"name":"Ali","Favourite":"Mango","Roll No":4320981,"Identity":"Pakistani","Price":1409}
d = dict2.get("name")
d

'Ali'

In [15]:
# keys()
dict2.keys()

dict_keys(['name', 'Favourite', 'Roll No', 'Identity', 'Price'])

In [16]:
# values()
dict2.values()

dict_values(['Ali', 'Mango', 4320981, 'Pakistani', 1409])

In [18]:
# items()
dict2.items()

dict_items([('name', 'Ali'), ('Favourite', 'Mango'), ('Roll No', 4320981), ('Identity', 'Pakistani'), ('Price', 1409)])

In [22]:
# update()
dict2.update({"city":"lahore"})
dict2

{'name': 'Ali',
 'Favourite': 'Mango',
 'Roll No': 4320981,
 'Identity': 'Pakistani',
 'Price': 1409,
 'city': 'lahore'}

In [24]:
dict2.update(multan = "city")
dict2

{'name': 'Ali',
 'Favourite': 'Mango',
 'Roll No': 4320981,
 'Identity': 'Pakistani',
 'Price': 1409,
 'city': 'lahore',
 'multan': 'city'}

In [25]:
dict2["country"] = "pakistan"
dict2

{'name': 'Ali',
 'Favourite': 'Mango',
 'Roll No': 4320981,
 'Identity': 'Pakistani',
 'Price': 1409,
 'city': 'lahore',
 'multan': 'city',
 'country': 'pakistan'}

## 4. Methods: pop(), popitem(), del, clear(), copy()

In [28]:
# pop()
dict2 = {"name":"Ali","Favourite":"Mango","Roll No":4320981,"Identity":"Pakistani","Price":1409}
dict2.pop("name")

'Ali'

In [32]:
# popitem()
d = {"name": "Ali", "age": 20, "city": "Lahore"}

x = d.popitem()
print(x)
print(d)

('city', 'Lahore')
{'name': 'Ali', 'age': 20}

In [35]:
# del
d = {"name": "Ali", "age": 20, "city": "Lahore"}
del d["age"]
print(d)

{'name': 'Ali', 'city': 'Lahore'}

In [36]:
# clear()
d.clear()

In [38]:
# copy()
d1 = {"name": "Ali", "age": 20}
d2 = d1.copy()
print(d2)

{'name': 'Ali', 'age': 20}

## 5. Nested Dictionaries

In [39]:
student = {
    "name": "Ali",
    "age": 20,
    "marks": {
        "Math": 90,
        "Physics": 85,
        "Chemistry": 88
    }
}

print(student)

{'name': 'Ali', 'age': 20, 'marks': {'Math': 90, 'Physics': 85, 'Chemistry': 88}}

In [40]:
print(student["marks"]["Physics"])

85

In [41]:
student["marks"]["English"] = 92
print(student["marks"])

{'Math': 90, 'Physics': 85, 'Chemistry': 88, 'English': 92}

In [42]:
for subject, mark in student["marks"].items():
    print(subject, ":", mark)

Math : 90
Physics : 85
Chemistry : 88
English : 92

## 6. Loops in Dictionary

In [43]:
student = {"name": "Ali", "age": 20, "city": "Lahore"}

for key in student:
    print(key)

name
age
city

In [44]:
for key in student.keys():
    print(key)

name
age
city

In [45]:
for value in student.values():
    print(value)

Ali
20
Lahore

In [46]:
for key, value in student.items():
    print(key, ":", value)

name : Ali
age : 20
city : Lahore

In [47]:
for key, value in student.items():
    if key == "age":
        print("Age is", value)

Age is 20

In [5]:
s = {}

n = int(input("How many items? "))

for i in range(n):
    key = input("Enter key: ")
    value = input("Enter value: ")
    s[key] = value

print(s)

How many items?  5
Enter key:  ka
Enter value:  value
Enter key:  ee
Enter value:  33
Enter key:  ss
Enter value:  55
Enter key:  ww
Enter value:  555
Enter key:  dd
Enter value:  33

{'ka': 'value', 'ee': '33', 'ss': '55', 'ww': '555', 'dd': '33'}