# Unit # 1:

In [5]:
print("Hello World!")

Hello World!

# Unit # 2:

### Variable: it's a name that stores values

In [6]:
a = 44
name = 'Ali'
print(a,name)

44 Ali

### Arithmetic operators : mathematical calculation operatores are: +,-,*,/,//,**,%

In [7]:
a = 44
b = 2
print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a % b)
print(a // b)

46
42
88
22.0
0
22

### Assignment operators: assign or update value are:=, +=,-=,*=,/=

In [8]:
a = 10
a += 2
print(a)

a *= 2
print(a)

12
24

### Comperiaon operator: use to compare two values are ==, >, <,>=, <=,!=

In [9]:
a = 10
b = 5

print(a == b)
print(a > b)
print(a <= b)

False
True
False

### Boolean & Logical Operator: use with True and False values are : and , or, not

In [10]:
age = 20
marks = 80

print(age >= 18 and marks >= 50)  # True
print(age < 18 or marks >= 50)    # True
print(not(age >= 18))             # False

True
True
False

### Bitwise Operator:to work with binary number (0 or 1) are: &,`, ^, ~, <<, >>

In [11]:
a = 6
b = 5

print(a & b)
print(a | b)
print(a >> b)
print(a ^ b)
print(a << 1)

4
7
0
3
12

# Unit # 3:

### 1: round(number, digits) function

In [12]:
a = 3.141516

print(round(a,3))
print(round(5.6))

3.142
6

### 2: divmod(a, b) function --> Returns quotient and remainder at the same time.

In [13]:
result = divmod(10, 3)
print(result)

(3, 1)

### 3: isinstance(vlaues, datatype) Function --> Checks whether a value belongs to a specific data type.

In [14]:
x = 10
print(isinstance(x, int))
print(isinstance(x, float))

True
False

### 4: pow(base , exponent) Function

In [15]:
print(pow(2,3))
print(pow(4,2))

8
16

### 5: input() Function

In [ ]:
name = input("Enter your name:")
print("Hello", name)

### 6: int() Function

In [27]:
x = "10"
print(x)
y = int(x)
print(y + 5)

10
15

### 7: float() Function

In [28]:
x = "3.5"
y = float(x)
print(y + 1.5)   # 5.0

5.0

### 8: len() Function

In [1]:
name = "python"

print(len(name))

6

### 9: min() Function

In [2]:
numbers = [2,4,6,87,9,4,2]
print(min(numbers))

2

### 10: max() Function

In [31]:
numbers = [2,4,6,87,9,4,2]
print(max(numbers))

87

### 11: sorted() Function

In [32]:
numbers = [2,4,6,87,9,4,2]
print(sorted(numbers))

[2, 2, 4, 4, 6, 9, 87]

### 12: help() Function

In [33]:
help(len)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

# Unit # 4

### 01 if condition: when condition is true then its execute

In [3]:
age = 18

if age >= 18:
    print("You are eligible for vote.")

You are eligible for vote.

### 02 if-else condition:

In [4]:
age = 16

if age >= 18:
    print("You are eligible for vote")
else:
    print("You cannot eligible for vote.")

You cannot eligible for vote.

### 03 if-elif-else condition:

In [9]:
marks = 75

if marks >= 90:
    print("Your grade is A")
elif marks >= 70:
    print("Your grade is B")
elif marks >= 50:
    print("Your grade is C")
else:
    print("You are fail")

Your grade is B

### 4 Nested if statement: if statement inside of the if statement.

In [10]:
age = 18
citizen = True

if age >= 18:
    if citizen:
        print("You are eligible to vote")
    else:
        print("You must be citizen")
else:
    print("You are underage.")

You are eligible to vote

# Real-Life Example (ATM System)

In [16]:
pin = 1234
entered_pin = int(input("Enter pin :"))

if entered_pin == pin:
    amount = int(input("Enter your amount :"))
    if amount <= 5000:
        entered_pin = int(input("Enter pin :"))
        if entered_pin == pin:
            print("Please! collect your amount",amount)
        else:
            print("Invalid pin!")
    else:
        print("Enter amount below 5000.")
else:
    print("Invalid pin!")

Enter pin : 1234
Enter your amount : 4555
Enter pin : 1234

Please! collect your amount 4555

# Unit # 5

### 01 while loop:

In [21]:
i = 0
while i <= 5:
    print(i)
    i += 1

0
1
2
3
4
5

### 02 break statement

In [3]:
week_days = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]

i = 0
while i < len(week_days):
    if week_days[i] == "Friday":
        break
    print(week_days[i])
    i += 1

Sunday
Monday
Tuesday
Wednesday
Thursday

### 03 continue statement

In [3]:
for i in range(1, 6):
    if i == 3:
        continue
    print(i)

1
2
4
5

### 04 for loop

In [6]:
array = [1,2,3,3,4,5,6,7,7]
for i in array:
    print(i)
    if i == 3:
        break

1
2
3

### 05 range function: range(start, stop, step)

In [7]:
print(list(range(5)))
print(list(range(1,6)))
print(list(range(1,6,2)))

[0, 1, 2, 3, 4]
[1, 2, 3, 4, 5]
[1, 3, 5]

### 06 nested loop

In [8]:
for i in range(1,4):
    for j in range(1,4):
        print(i,j)

1 1
1 2
1 3
2 1
2 2
2 3
3 1
3 2
3 3

### 7. Pattern Printing Example (Nested Loop)

In [9]:
for i in range(1,4):
    for j in range(i):
        print("*", end=" ")
    print()

*
* *
* * *

### Real-Life Example: Table of a Number

In [10]:
num = int(input("Enter the number :"))

for i in range(1,11):
    print(num, "x", i , "=" , num * i)

Enter the number : 2

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

# Unit # 6

### 01 Function: A function is a block of code that performs a specific task and can be reused.

In [17]:
def age(a):
    print("My age is ", a)
age(23)

My age is  23

### 02 Doc String (Documentation String)
#### A docstring explains what a function does.

In [19]:
def add():
    """This function adds two numbers"""
    print(10 + 20)

print(add.__doc__)

This function adds two numbers

### 03 Function Input Arguments
#### Arguments allow passing data to a function.

In [20]:
def add(a, b):
    print(a + b)

add(5, 3)

8

### 04 Order of Input Arguments
#### Arguments are passed in the same order as parameters.

In [21]:
def show(a, b):
    print(a, b)

show(10, 20)   # Correct order
show(20, 10)   # Different output

10 20
20 10

### 05 Return Statement
#### Returns a value from a function.

In [22]:
def square(num):
    return num * num

result = square(4)
print(result)

16

### 06 Variable Number of Input Arguments
#### Sometimes we donâ€™t know how many arguments are needed.

### 07 *args in Function
#### Accepts multiple positional arguments.

In [23]:
def total(*args):
    sum = 0
    for i in args:
        sum += i
    return sum

print(total(10, 20))
print(total(1, 2, 3, 4, 5))

30
15

### 08 **kwargs in Function
#### Accepts multiple keyword arguments (key=value).

In [1]:
def student(**kwargs):
    for key, value in kwargs.items():
        print(key, ":", value)

student(name="Ali", age=20, course="Python")

name : Ali
age : 20
course : Python

### 09 *args and **kwargs Together

In [2]:
def display(*args, **kwargs):
    print("Args:", args)
    print("Kwargs:", kwargs)

display(1, 2, 3, name="Sara", city="Lahore")

Args: (1, 2, 3)
Kwargs: {'name': 'Sara', 'city': 'Lahore'}

### 10 Lambda Function
#### Purpose :A small anonymous function written in one line.

In [3]:
square = lambda x: x * x
print(square(5))

25

In [4]:
add = lambda a, b: a + b
print(add(3, 4))

7